table,th, td{
    border: 1px solid rgb(94, 5, 172);
    border-collapse: collapse;
    text-align: center;
}

table{
    width: 300px;;
    /* height: 200px;
     */
}
a{
    text-decoration: none;
}
#moltres{
    width: 50px;
}
#caption1{
    background-color: chartreuse;
}
#tbody1{ 
    background-color: rgb(10, 115, 156);
}
#table1{
    width: 600px;
}
#thead1{
    background-color: yellow;
}
.videojuegos{
    color: aliceblue;
margin-left: 200px;
margin-right: 400px;
border-radius: 10px;
background-color: rgb(110, 77, 141);
}
.cuadros{
    background-color:chartreuse;
}
#parrafov{
    margin-left: 100px;
    color: coral;
    