:root{
    --primary:#F7F1E5;
    --secondary:#E7B10A;
    --info: #898121;
    --contrast: #4C4B16;
}
body{
    margin: 0;
    font-family: 'karla', sans-serif;
    background-color: var(--secondary);
    
}

div{
    color: var(--contrast);
    background-color: var(--primary);
    padding: 10px 0px 10px 0px; /* es para el tamaño */
    border: 5px solid var(--contrast);
}